*{
	background: #BD28A7;
}
#cabecera {
	color: #333;
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	position: relative;
}
#cabecera{
	background: #00F4E4;
	box-shadow: 1px 7px 16px 1px rgba(0,0,0,0.75);
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	padding: 0.5em;
}
#container{
	width: 70%;
	padding: 0;
	border: 5px solid black ;
	margin: 0 auto;
}
#container h1{
	font-size: 20px;
}
#post {
	color:black;
	font-family: 'Anton', sans-serif;
	font-size: 16px;
	margin: 0;
    padding-top: 2px;
	z-index: -1;
}
h1{
	background: #4AF087;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
}
p{
	background: #4AF087;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

img{
	background: #00F4E4;
}